:root {
  --nav-color: #434d56;
  --nav-active: #cddc28;
  --nav-inactive: #aaafb3;
  --product-nav: #cdd5a1;
  --product-nav-active: #b8d03a;
  --product-nav-text: #313e37;
  --product-info-bg: #d2d3d5;
  --footer-bg: #e7e8e9;
  --white-color: #fff;
}

@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

body {
  font-family: "Myriad Pro Regular";
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
.container-fluid {
  padding: 0;
}
.navbar-custom {
  background-color: var(--nav-color);
  padding: 1rem 2rem;
  font-family: "Segoe UI", sans-serif;
}

.navbar-hover {
  background: rgba(67, 77, 86, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(67, 77, 86, 0.3);
}

.nav-item,
.nav-link {
  color: var(--white-color);
}

.nav-item:hover,
.nav-link:hover {
  color: var(--white-color);
}

.navbar-collapse {
  flex-grow: unset;
}

.brand-logo {
  position: absolute;
  z-index: 6;
}

img.brand-logo {
  min-width: 100px;
  max-width: 100px;
  background: #fff;
  padding: 10px;
}

.brand-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80%;
  min-height: 100%;
  z-index: 5;
}

img.brand-bg {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}

.hero-section {
  max-height: 80vh;
  position: relative;
}

.swiper-wrapper {
  min-height: unset;
  max-height: unset;
}
.swiper-slide {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.swiper-slide img {
  min-width: 100%;
  max-width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 3.5rem;
  height: 3.5rem;
  color: #000;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.swiper-button-next::after {
  font-family: none;
  font-size: 0;
  content: "";
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 30px solid rgba(255, 255, 255, 0.4);
}

.swiper-button-prev::after {
  font-family: none;
  font-size: 0;
  content: "";
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 30px solid rgba(255, 255, 255, 0.4);
}

.swiper-pagination {
  background: var(--nav-color);
  clip-path: polygon(65px 4px, 100% 0px, 99.51% 99.91%, 0px 100%);
  min-height: 2.5rem;
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  width: 50%;
  right: 0;
  left: unset;
  padding: 0.5rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--nav-active);
}

.swiper-pagination-bullet {
  background: var(--nav-inactive);
  opacity: unset;
  min-height: 0.5rem;
  min-width: 0.5rem;
}

.hero-text-wrap {
  position: absolute;
  /* top: 5rem; */
  left: 1rem;
  margin: 1rem;
  z-index: 5;
  max-width: 60vw;
}

.hero-title {
  color: #c53c00;
  font-size: 1.2rem;
  font-family: "Myriad Pro Bold";
  font-weight: 800;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.hero-subtitle {
  color: #003366;
  font-size: 0.9rem;
  font-family: "Myriad Pro Bold";
  font-weight: 800;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.products-wrapper {
  background: var(--footer-bg);
}

.product-nav {
  background: var(--product-nav);
  color: var(--nav-color);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.active-nav {
  background: var(--product-nav-active);
  border-bottom: 0.5rem solid var(--nav-color);
}

.product-nav > div {
  padding: 0.5rem 0;
}

.img-product {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.info-product {
  background: var(--product-info-bg);
  padding: 2rem 1rem;
  position: relative;
}
.info-points {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  min-height: 35vh;
}

.products-det-nav {
  margin: 0;
}

.products-det-nav .form-select {
  border: 3px solid var(--product-nav-active);
  background-color: var(--nav-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cddc28' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  color: var(--white-color);
}

.product-btn {
  background: var(--nav-color);
  color: var(--white-color);
  font-weight: 500;
  border-bottom: 10px solid var(--product-nav-active);
  clip-path: polygon(27px 1px, 100% 0px, 99.51% 99.91%, 0px 100%);
  padding: 1rem 2.5rem;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.price-wrap {
  padding: 2rem 1rem;
}

.price-wrap .title-box {
  background: var(--nav-color);
  color: var(--white-color);
  font-size: 1.1rem;
  text-align: center;
  padding: 0.1rem 1rem;
}

.display-num {
  background: var(--product-info-bg);
  border: 2px solid var(--nav-color);
  min-height: 2rem;
  min-width: 3rem;
  text-align: center;
}

.price-result {
  color: var(--nav-color);
  font-size: 2.5rem;
}

.price-result p {
  margin: 0;
  line-height: 1;
}

.button-box {
  background: var(--product-nav-active);
  border: 2px solid var(--nav-color);
  color: var(--nav-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
}

.header-wrapper h3 {
  padding: 0.5rem 1.3rem;
}

.testimonials-main-wrapper,
.social-logos-wrapper {
  padding: 1rem 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.testimonials-wrapper > .row {
  padding: 1rem;
  margin: 3rem 0;
  border-bottom: 2px solid #000;
}

.testimonials-wrapper img {
  width: 100%;
}

.testimonials-wrapper .testi-text {
  font-size: 1.1rem;
  padding: 1rem;
}

.testi-wrap {
  max-width: fit-content;
  margin: 0 5.5rem -2rem;
  font-size: 1.1rem;
  background: var(--white-color);
}
.testi-name {
  color: var(--product-nav-active);
}

.line {
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, var(--nav-active) 25%, black 25px);
}

.logos-wrapper {
  padding: 1rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logos-main {
  border-radius: 100%;
  border: 2px solid var(--nav-active);
  background: var(--nav-active);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.logos-main img {
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.logos-main img:hover {
  filter: none;
}

footer {
  background: var(--footer-bg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 10px solid var(--nav-active);
}

footer > .container-fluid {
  background: #7d7d7e;
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 5rem;
  position: relative;
}

.right-form-wrapper {
  -webkit-filter: drop-shadow(-8px -8px 5px #6e6e6e);
  filter: drop-shadow(-8px -8px 5px #6e6e6e);
  position: absolute;
  right: 0;
  top: -75%;
}
.newsletter-wrap {
  background: var(--product-nav-active);
  padding: 1rem 9rem;
  display: flex;
  gap: 1rem;
  clip-path: polygon(65px 4px, 100% 0px, 99.51% 99.91%, 0px 100%);
}

.main-det-wrap {
  display: flex;
  gap: 1rem;
  position: relative;
}

.newsletter-wrap .form-wrap {
  display: flex;
  flex-direction: column;
}

.form-wrap input {
  background: #7d920f;
  clip-path: polygon(14px 1px, 100% 0px, 93.29% 93.06%, 1px 93.15%);
}

.main-det-wrap button {
  background: var(--nav-color);
  color: var(--white-color);
  padding: 1rem;
  clip-path: polygon(21px 13px, 97.48% 13px, 68.02% 98.13%, 0px 101.59%);
}

.main-det-wrap .btn-wrap {
  position: absolute;
  bottom: -1rem;
  right: -2.5rem;
}

footer ul {
  padding-left: 0;
}

footer li {
  list-style-position: none;
  list-style-type: none;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #cacbcd;
}

footer .title-wrap {
  background: var(--nav-color);
  padding: 1rem 8rem;
  margin: 0;
  color: var(--footer-bg);
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer .list-wrap {
  padding: 1rem 2rem;
  margin: 0;
}

@media screen and (min-width: 1080px) {
  .brand-logo {
    position: absolute;
    z-index: 6;
  }

  img.brand-logo {
    max-width: 100%;
    margin: -0.5rem 6rem;
    background: none;
    padding: 0;
  }

  .brand-bg {
    display: block;
  }

  .swiper-wrapper {
    min-height: 80vh;
    max-height: 80vh;
  }

  .hero-text-wrap {
    position: absolute;
    top: 5rem;
    z-index: 5;
    left: 5rem;
    max-width: 60vw;
  }

  .hero-title {
    font-size: 3.3rem;
  }

  .hero-subtitle {
    color: #003366;
    font-size: 2.2rem;
  }

  .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    padding: 1rem;
  }

  .swiper-pagination-bullet {
    background: var(--nav-inactive);
    opacity: unset;
    min-height: 1rem;
    min-width: 1rem;
  }

  .testi-wrap {
    max-width: fit-content;
    margin: 0 5.5rem -2rem;
  }

  .logos-wrapper {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  
footer .list-wrap {
  padding: 1rem 8rem;
}

}
